.idea/
.git/
variables.json
*.tfstate.*.*
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.lock.hcl
.terraform/
versions.tf
*.retry
jdauphant.nginx
.vagrant/
*.pyc
.molecule
.cache
.pytest_cache
.env
web.yml
gen-pass.py
join-command
